:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --link-text-color: #2196F3;
    --second-text-color:#FFFFFF;
}

html {
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img{
    display: block;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
ul,
p{
    margin: 0;
    padding: 0;
}

p{
    color: var(--primary-text-color);
}


/* Шапка*/

.header:first-child{
    display: flex;
    height: 80px;
    width: 1170px;
    margin-left: 215px;
    margin-right: 215px;
    padding: 32px 15px;
}

.container{
    display: flex;
    width: 1600px;
    justify-content: space-between;
    align-items: baseline;
    margin-right: auto;
    margin-left: auto;
}

.navigation{
    display: flex;
    align-content: center;
    align-items: baseline;
}

.navigation > .nav-logo{
    margin-right: 68px;
}

.nav-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.header-logo{
    font-family: 'Raleway';
    color: var(--link-text-color);
}

.nav-list,
.contact-list{
    display: flex;
    align-content: center;
    align-items: baseline;
}

.nav-link,
.contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-list .contact-link{
    display: block;
    margin-left: 50px;
    color: var(--primary-text-color);
}

.nav-list .nav-link{
    display: block;
    padding: 0px;
    margin-right: 25px;
    margin-left: 25px;
    color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus
.nav-link:any-link {
    color: var(--link-text-color);
}

.contact-link:hover,
.contact-link:focus
.contact-link:any-link {
    color: var(--link-text-color);
}

.fair{
color: var(--link-text-color);
}


/*Основной контент*/


.main-header{
    background:  #2F303A;
    text-align: center;
}

.title-hero{
    font-family: Roboto;
    color: var(--second-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

/*
.main-features{

}
*/

.features-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/*.main-works {

}
*/

.main-team{
    background: #F5F4FA;
}


.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.name-direction {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}


/*Подвал*/
footer{
    background:#2F303A;
    align-content: center;
    align-items: center;
    margin-left: 215px;
    margin-right: 215px;
    justify-content: space-between;
    width: 1170px;
}

.footer-logo {
    color: var(--second-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.footer-address{
    color: var(--second-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
}

.works-header, .team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*Портфолио*/

/*.main-portfolio{

}
*/

.porfolio-header{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

/*button*/

button:hover,
button:focus{
    background: var(--link-text-color);
    color: var(--second-text-color);
}

.main-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    background: var(--link-text-color);
    color: var(--second-text-color); 
    
    border: 0;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;   
}

.button-slice{
    background: #F5F4FA;
    color: var(--title-text-color);
}